<form class="custom-form">
    <div>
      <label for="groupName">Nom du service :</label>
      <input type="text" id="Nom du service" name="Nom du service"><br>
    </div>
    <div>
      <label for="groupType">Choisir Icône :</label>
      <!-- Intégration de l'icône -->
      <input type="text" id="choisirIcone" name="choisirIcone">
      <i class="fa-solid fa-user"></i>
    </div>
    <button type="submit">Ajouter</button>
  </form><br>
  
  <form class="List-Service">
    <div>
      <h2>Liste Des Service</h2><br>
      <label for="serviceName">Nom service :</label>
      <input type="text" id="serviceName" name="serviceName">
      <label for="dateCreation">Date de création :</label>
      <input type="text" id="dateCreation" name="dateCreation">
      <label for="listeService">Liste des sous service(s):</label>
      <input type="text" id="listeService" name="listeService">
    </div>

    <hr class="horizontal-line">
    <button type="submit">Définir les sous services</button>
  </form>
  
