<form class="custom-form">
    <div>
      <label for="groupName">Nom du sous service :</label>
      <input type="text" id="Nom du sous service" name="Nom du sous service"><br>
    </div>
    <div>
        <label for="groupName">Afficher du service :</label>
        <input type="text" id="Afficher du service" name="Afficher du service"><br>
      </div>
 
    <button type="submit">Ajouter</button>
  </form><br>
  
  <form class="List-Service">
    <div>
      <h2>Liste Des sous Service</h2><br>
      <label for="serviceName">Nom du sous service :</label>
      <input type="text" id="serviceName" name="serviceName">
      <label for="dateCreation">Date de création :</label>
      <input type="text" id="dateCreation" name="dateCreation">
      <label for="Service">service</label>
      <input type="text" id="Service" name="Service">
    </div>
    

    <hr class="horizontal-line">
    
  </form>
  
